html,
body {
    margin: 0;
    height: 100%;
}


/* The Modal (background) */

.modal {
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.WS-modal {
    display: block;
    /* 'block' to display the element, set to 'none' instead */
}

.Room-modal {
    display: none;
    /* 'block' to display the element, set to 'none' instead */
}


/* Modal Content/Box */

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

.modal-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
}

.modal-form>div {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.modal-form>div>input {
    width: 100%;
    box-sizing: border-box;
}

.log-bar {
    padding: 12px 0 12px 0;
    display: flex;
    /*center vertically*/
    align-items: center;
    /*center horizontally
    justify-content: center;*/
}

.log-bar>input {
    margin: 0 2% 0 0;
}

.connection-error-label {
    color: red;
}

.room-connection-error-label {
    color: red;
}

.chat-history {
    overflow-y: auto;
    height: 80vh;
    padding-right: 5%;
    padding-left: 5%;
}

.own-msgReceivedDiv {
    margin: auto;
    margin-right: 0;
    max-width: 60%;
    padding: 10px;
    /* preserve the \n output */
    white-space: pre-wrap;
}

.msgReceivedDiv {
    margin: auto;
    margin-left: 0;
    max-width: 60%;
    padding: 10px;
    /* preserve the \n output */
    white-space: pre-wrap;
}

.own-msgBubble {
    padding: 5px;
    color: #FFFFFF;
    background-color: #248BF5;
    border: 5px solid #248BF5;
    border-radius: 0.8rem 0.7rem;
}

.msgBubble {
    padding: 5px;
    color: #000000;
    background-color: #E5E5EA;
    border: 5px solid #E5E5EA;
    border-radius: 0.8rem 0.7rem;
}

.chat-box {
    position: fixed;
    bottom: 0;
    left: 0;
    cursor: auto;
    resize: none;
    box-sizing: border-box;
    height: 20vh;
    width: 80%;
    border: 1px solid #808080;
    border-radius: 20px 0px 0px 20px;
    background-color: #DCDCDC;
    outline: none;
    padding: 8px 30px 8px 30px;
    overflow: auto;
}

.chat-box::-webkit-scrollbar-track {
    background-color: #808080;
}

.chat-box::-webkit-scrollbar {
    width: 6px;
    background-color: #808080;
}

.chat-box::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-color: #545454;
}

.send-button {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 20%;
    height: 20vh;
}